{% load socialaccount %} 
{% load bootstrap5 %} 
{% bootstrap_css %} 
{% bootstrap_javascript %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'schedule/style.css' %}">
  </head>
  <body>
    <!-- 
      Title: Bootstrap NavBar
      Date: 2/23/2023
      URL: https://getbootstrap.com/docs/4.0/components/navbar/
     -->
    <nav class="navbar navbar-expand-lg navbar-light ps-3 pe-3" style="background-color: #e3f2fd;">
      <a class="navbar-brand" href="/"><h1>Schedule Advisor</h1></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>    
      </button>
      <div class="collapse navbar-collapse flex-row-reverse" id="navbarNavAltMarkup">
        <div class="flex-row-reverse justify-content-between">
          <button class="btn btn-outline-primary" onclick="document.getElementsByClassName('loading-screen')[0].style.display = 'block';">Sign in</button>
        </div>
      </div>
    </nav>

    {% for message in messages %}
      <div class="alert {{ message.tags }} alert-dismissible fade show" role="alert" style="z-index:10; position:absolute; width:100%">
        <button type="button" class="close" data-bs-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        {{ message | safe }}
      </div>
    {% endfor %}

    <div class = "text-center align-middle" style = "width:100%; margin-top:10%">
      <h1>Welcome to Schedule Advisor!</h1>
      <h3>Please sign in to get started!</h3>
    </div>
    <div class = "loading-screen">
      <div class="p-5 text-center text-dark bg-light" style="position:absolute; width:50%; height:30%; top:30%; left:25%">
        <div style="position: absolute;top: 20%;width: 85%;">
          <h3>If you're signing up for the first time...</h3>
          <p>you may get a security message saying that Google has not verified this app. Please click on "advanced" at the bottom of the text and then
            continue to the website. 
          </p>
          <form method="post" action="/accounts/google/login/?process=login">
            {% csrf_token %}
            <button class="btn btn-outline-primary" type="submit">Continue</button>
          </form>
        </div>
      </div>
    </div>
    <footer class="footer mt-auto py-3 bg-light text-center fixed-bottom">
        <div class="container">
            <p class="mb-0">CS 3240: Advanced Software Development</p>
            <p class="text-muted">Group B-09</p>
        </div>
    </footer>
  </body>
</html>
